.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
pubspec.lock
build/
coverage/
*.iml
.idea/
.vscode/
DerivedData/

.DS_Store
__pycache__/
*.pyc
.swiftpm/
.build/
pubspec_overrides.yaml
